/**************************/
/* GENERAL  STYLES */
/**************************/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
  font-size: 62.5%;
  background-image: url(./images/bg-pattern.svg);
  background-color: hsl (0, 0%, 100%);
  background-size: cover;
  max-width: 144rem;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.section {
  /* background-color: brown; */
  max-width: 144rem;
  height: 100vh;
  margin: 0 30rem;
  padding: 0 auto;
}

.container {
  padding: 0 9.6rem;
}

.grid {
  display: grid;
}

.grid-3--col {
  grid-template-columns: repeat(2, 1fr);
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}
/**************************/
/* COMPONENT  STYLES */
/**************************/
.section-heading-box {
}

.heading {
  font-size: 3rem;
  font-weight: 800;
  letter-spacing: -2.5px;
  color: hsl(227, 35%, 25%);
  text-align: center;
  margin-bottom: 0.7rem;
}

.heading-text {
  font-size: 1.2rem;
  text-align: center;
  color: ;
}

/*  
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


-font-family:
Poppins
- Body 
Font size: 16px

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6

- Letter spacing
-0.5px
0.75px

--- 02 COLORS
### Primary
- Soft Cyan (Full Slider Bar): hsl(174, 77%, 80%)
- Strong Cyan (Slider Backround): hsl(174, 86%, 45%)
- Light Grayish Red (Discount Background): hsl(14, 92%, 95%)
- Light Red (Discount Text): hsl(15, 100%, 70%)
- Pale Blue (CTA Text): hsl(226, 100%, 87%)
### Accent
none
### Neutral
- White (Pricing Component Background): hsl (0, 0%, 100%)
- Very Pale Blue (Main Background): hsl(230, 100%, 99%)
- Light Grayish Blue (Empty Slider Bar): hsl(224, 65%, 95%)
- Light Grayish Blue (Toggle Background): hsl(223, 50%, 87%)
- Grayish Blue (Text): hsl(225, 20%, 60%)
- Dark Desaturated Blue (Text & CTA Background): hsl(227, 35%, 25%)
*/
