/**************************/
/* GENERAL  STYLES */
/**************************/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
  font-size: 62.5%;
  background-image: url(./images/bg-pattern.svg);
  background-color: hsl (0, 0%, 100%);
  background-size: cover;
  max-width: 144rem;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.section {
  /* background-color: brown; */
  max-width: 144rem;
  height: 100vh;
  margin: 0 30rem;
  padding: 0 auto;
}

.container {
  padding: 9.6rem;
}

.grid {
  display: grid;
}

.grid-3--col {
  grid-template-columns: repeat(2, 1fr);
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}
/**************************/
/* COMPONENT  STYLES */
/**************************/
.section-heading-box {
  margin-bottom: 4.8rem;
}

.heading {
  font-size: 2.4rem;
  font-weight: 800;
  letter-spacing: -2.5px;
  color: hsl(227, 35%, 25%);
  text-align: center;
  margin-bottom: 0.7rem;
}

.heading-text {
  font-size: 1rem;
  text-align: center;
  color: #777;
}

.section-pricing-box {
  background-color: hsl(0, 0%, 100%);
  border-radius: 9px;
  padding: 3.2rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.top-box {
  justify-content: space-between;
  margin-bottom: 2.4rem;
}

.page-veiws {
  text-transform: uppercase;
}

.page-veiws,
.price {
  font-size: 1rem;
  letter-spacing: 1px;
  color: #888;
  align-self: center;
}

.bold {
  font-size: 2.6rem;
  font-weight: 800;
  color: hsl(227, 35%, 25%);
}

.range {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  background: linear-gradient(
    90deg,
    rgb(165, 243, 235) 60%,
    rgb(234, 238, 251) 60%
  );
  outline: none;
  border-radius: 11px;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 2.4rem;
}

.range:hover {
  opacity: 1;
}

.range::content {
  content: '&larr; &rarr; ';
  color: #fff;
  font-size: 1rem;
}
.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 5rem;
  height: 5rem;
  /* background: rgb(16, 213, 194); */
  background-image: url(./images/icon-slider.svg), url(./images/icon-slider.svg);
  background-size: cover, cover;
  /* border-radius: 50%; */
}
/*  
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


-font-family:
Poppins
- Body 
Font size: 16px

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6

- Letter spacing
-0.5px
0.75px

--- 02 COLORS
### Primary
- Soft Cyan (Full Slider Bar): hsl(174, 77%, 80%)
- Strong Cyan (Slider Backround): hsl(174, 86%, 45%)
- Light Grayish Red (Discount Background): hsl(14, 92%, 95%)
- Light Red (Discount Text): hsl(15, 100%, 70%)
- Pale Blue (CTA Text): hsl(226, 100%, 87%)
### Accent
none
### Neutral
- White (Pricing Component Background): hsl (0, 0%, 100%)
- Very Pale Blue (Main Background): hsl(230, 100%, 99%)
- Light Grayish Blue (Empty Slider Bar): hsl(224, 65%, 95%)
- Light Grayish Blue (Toggle Background): hsl(223, 50%, 87%)
- Grayish Blue (Text): hsl(225, 20%, 60%)
- Dark Desaturated Blue (Text & CTA Background): hsl(227, 35%, 25%)
*/
